/* =========================
   SERVICES PAGE HERO
========================= */
.logo{
    width:180px;
    height:95px;

    object-fit:contain;

    transition:0.4s ease;
}
.services-hero {
    text-align: left;
    padding: 140px 60px 40px;
    color:purple;
}

.services-subtitle {
    color: purple;
    font-size: 18px;
    margin-top: 10px;
}

/* =========================
   SERVICE TABS (MATCH MAIN UI)
========================= */

.service-tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.service-tab {
    padding: 12px 20px;

    border: none;
    border-radius: 12px;

    background: rgb(177, 234, 234);

    color: rgb(50, 24, 147);

    font-weight: 600;

    cursor: pointer;

    box-shadow: 0 10px 25px rgba(0,0,0,0.08);

    transition: 0.3s ease;
}

.service-tab:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
    color: purple;
}

.service-tab.active {
    background: rgb(162, 219, 219);
    color: blue;
}

/* =========================
   SERVICE GRID
========================= */

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;

    padding: 40px 60px;
}

.service-card {
    background: white;
    color: purple;
    border-radius: 20px;

    padding: 20px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.08);

    transition: 0.3s ease;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.service-card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}

/* =========================
   REQUEST SECTION
========================= */

.request-section {
    padding: 80px 40px;
    text-align: center;
    color: purple;
    background-color: rgb(160, 233, 233);
}

.request-section form {
    max-width: 500px;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.request-section input,
.request-section textarea {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.request-section textarea {
    min-height: 120px;
    resize: none;
}
/* =========================
   BACK ARROW
========================= */

.back-arrow{

    position:fixed;

    top:90px;
    right:25px;

    width: 70px;
    height: 27px;

    border-radius:10px;
    justify-content: center;
    cursor:auto;

    z-index:2000;

    font-size:20px;
    font-weight:lighter;

    color:blueviolet;

    background:
    linear-gradient(
        135deg,
        rgb(125, 109, 242),
        #7676de
    );

    box-shadow:
    0 10px 25px rgba(95,0,255,0.35);

    transition:0.4s ease;
}


/* HOVER */

.back-arrow:hover{
    transform: scale(1.05);

 box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}


/* CLICK */

.back-arrow:active{

    transform:scale(0.95);

}